<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dam2.crynetenforcementlocallogistics">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFbQlIHpF2psOzE7tdwO9z1J3y1l2TIDg"/>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MailActivity" />
        <activity android:name=".FocusedMailActivity" />
        <activity android:name=".KeypadActivity"/>
        <activity android:name=".EmployeeActivity"/>
        <activity android:name=".ReportActivity"/>
        <activity android:name=".MapActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"/>
    </application>

</manifest>